<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <h1>LOGIN FORM</h1>
    <form action="login" method="POST">
        <input type="email" name="username" placeholder="Enter your email">

        <input type="password" name="password" placeholder="Enter your password">
         <button>login</button>





    </form>
</body>
</html>